.product-card {
  background-color: red;
}

.w-100 {
  width: 100px;
}

.w-200 {
  width: 200px;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;

}

.font-white {
  color: white;
}

.primary-btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}